{{ 'card-drawer-new.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart-drawer-new.js' |  asset_url }}" defer></script>

<div class="cart-drawer__wrapper color-{{ section.settings.color_scheme }}">


</div>

{%  schema  %} 
  {
    "name": "Cart Drawer",
    "tag": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:section.all.colors.label",
        "default": "scheme-1"
      }
    ]
  }
{% endschema %}