{{ 'cart-drawer-new.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart-drawer-new.js' |  asset_url }}" defer></script>

<div class="cart-drawer__wrapper open color-{{ section.settings.color_scheme }}">
  <open></open>
</div>

{% schema %}
  {
    "name": "Cart Drawer",
    "tag": "section",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:section.all.colors.label",
        "default": "scheme-1"
      }
    ],
    "presets": [
      {
        "name": "Cart Drawer"
      }
    ]
  }
{% endschema %}