<template id="drawer-default-template">
  <div part="base">
    <div part="overlay"></div>

    <div part="content">
      <header part="header">
        <slot name="header"></slot>

        {% comment %} <button type="button" is="dialog-close-button"  part="close-button tap-area" aria-label="{{ 'general.accessibility.close' | t | escape }}">
          {%- render 'icon' with 'close', width: 14 -%}
        </button> {% endcomment %}
      </header>

      <div part="body">
        <slot></slot>
      </div>

      <footer part="footer">
        <slot name="footer"></slot>
      </footer>
    </div>
  </div>
</template>
