.cart-drawer__wrapper {
  background-color: rgb(var(--color-background));
  position: fixed;
  top: 0;
  margin: 0;
  width: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  transition: width .5s;
  overflow: hidden;
  display: flex;
  
}

.cart-drawer__wrapper.open {
  width: 100%;
}