.cart-drawer__wrapper {
  background-color: rgb(var(--color-background));
  position: fixed;
  top: 0;
  margin: 0;
  width: 0;
  right: 0;
  flex-direction: column;
  transition: width 0.5s;
  overflow: hidden;
  display: flex;
  z-index: 999999;
  bottom: 0;
  max-width: 480px;
}

.cart-drawer__wrapper.cart-drawer--active {
  width: 100%;
  max-width: 480px;
}

.cart-drawer__box {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.cart-drawer__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-header__b1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 24px;
  position: relative;
  gap: 7px;
}

.cart-header__b1 h2 {
  margin: 0;
  font-size: 19px;
  font-family: "Inter";
  font-weight: 900;
  font-style: italic;
}

.cart-items__count {
  font-size: 10px;
  padding: 2px 5px;
  color: #404040;
  background-color: #f0f0f0;
  border-radius: 1px;
  font-family: "Inter";
  font-weight: 700;
}

.cart-close__btn {
  position: absolute;
  right: 24px;
  border: none;
  outline: none;
  background: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.cart-close__btn:hover {
  background-color: black;
}

.cart-close__btn:hover svg path {
  /* width: 8px;
  height: 8px; */
  stroke: white;
}

.cart-header__b2 {
  padding: 4px 24px;
  background: #ccff66;
  text-align: center;
  margin-block: 6px;
}

.cart-header__b2 p {
  margin: 0;
  font-size: 10px;
  font-family: "Inter";
  font-weight: 400;
}

.cart-drawer__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-drawer__empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.cart-drawer__items {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 375px;
}

.line-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-bottom: 1.5px solid #D3D3D3;
  padding-bottom: 10px;
}

.line-item__wrapper {
  height: 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  gap: 13px;
}

.line-item__img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 2px;
}

.line-item__img img {
  width: 65px;
  height: 80px;
  object-fit: cover;
}

.line-item__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.line-item__title {
  margin: 0;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 600;
}

.line-item__variant {
  margin: 0;
  font: 500 10px "Inter";
  color: #676666;
}

.line-item__remove {
  position: absolute;
  top: 0;
  right: 0;
}

.line-item__remove svg {
  width: 20px;
  height: 20px;
}

.line-item__mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.line-item__price-wrapper {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.line-item__current-price {
  font: 600 13px "Inter";
  color: black;
}

.line-item__cap {
  font: 600 13px "Inter";
  color: #404040;
  text-decoration: line-through;
}

.line-item__quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  border: 1px solid #676666;
  border-radius: 35px;
  height: 25px;
  overflow: hidden;
}

.line-item__quantity-selector button {
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.line-item__quantity-selector input {
  border: none;
  outline: none;
  width: 40px;
  height: 30px;
  text-align: center;
  font: 600 12px "Inter";
  border-inline: 1px solid gray;
}

.line-item__quantity-selector input:focus {
  outline-offset: none;
  box-shadow: none;
}

.cart-drawer__footer {
  padding: 24px;
  margin-top: auto;
  border-top: 1px solid #676666;
  max-width: 375px;
}

.cart-drawer__footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.cart-drawer__footer-row h3 {
  font: 600 12px "Inter";
}

.cart-drawer__footer-row span {
  font: 600 14px "Inter";
  color: black;
}

.cart-drawer__checkout-btn {
  background: black;
  border: 2px solid black;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font: 600 14px "Inter";
  color: white;
  gap: 10px;
}

.cart-drawer__payment-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 17px;
}

.cart-drawer__payment-options p {
  margin: 0;
  font: 400 12px "Inter";
  color: black;
}

.cart-drawer__payment-provider-img {
  width: 170px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-drawer__payment-provider-img img {
  width: 170px;
  height: 17px;
  object-fit: contain;
}

.subscription-options {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.subscription-options label {
  color: black;
    font: 600 12px 'Inter';
    display: flex;
    gap: 7px;
    align-items: center;
}


.subscription-checkbox {
  margin: 0;
}


.subscription-options .info-circle {
  display: flex;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  
  font-size: 10px;
  color: black;
  font-weight: 600;
  font-family: 'Inter';
  align-items: center;
  justify-content: center;
}

.subscription-dropdown {
  margin-top: 10px;
}

.line-item-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);

  /* background: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.2);

  border-top: 4px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: block !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .product-offers__wrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
} */

.offer__product-card {
  display: flex;
  justify-content: flex-start;
  padding: 18px 14px;
  height: 115px;
  width: 250px;
  gap: 10px;
  border: 1px dashed #787878;
  box-sizing: border-box;
}

.offer-product__info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.offer-product__info h2 {
  font: 600 13px "Inter";
  margin-block: 0 5px;
}

.offer-product__info h3 {
  font: 500 10px "Inter";
  margin: 0;
}

.claim-offer__btn {
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 10px "Inter";
  color: white;
  background-color: black;
  border-radius: 2px;
  border: 2px solid black;
  transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
  cursor: pointer !important;
}

.claim-offer__btn:hover {
  color: black;
  background-color: white;
}

.offer-product__img-wrapper {
  height: 80px;
  width: 65px;
  overflow: hidden;
  border-radius: 2px;
}

.offer-product__img {
  height: 80px;
  width: 65px;
  object-fit: cover;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.claim-offer__btn--disabled {
  background-color: #cccccc; /* Gray background */
  cursor: not-allowed; /* Change cursor to 'not-allowed' */
  opacity: 0.6; /* Dim the button */
  pointer-events: none; /* Disable clicking */
  color: black;
}

@media screen and(min-width: 786px) { 
  .cart-drawer__items{
    max-width: 480px;
  }
}
