.cart-drawer__wrapper {
  background-color: rgb(var(--color-background));
  position: fixed;
  top: 0;
  margin: 0;
  width: 0;
  right: 0;
  flex-direction: column;
  transition: width .5s;
  overflow: hidden;
  display: flex;
  z-index: 999999;
  bottom: 0;
  max-width: 480px;
}

.cart-drawer__wrapper.cart-drawer--active {
  width: 100%;
}

.cart-drawer__box {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.cart-drawer__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-header__b1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 24px;
  position: relative;
  gap: 7px;

}

.cart-header__b1 h2 {
  margin: 0;
  font-size: 19px;
  font-family: 'Inter';
  font-weight: 900;
  font-style: italic;
}

.cart-items__count {
  font-size: 10px;
  padding: 2px 5px;
  color: #404040;
  background-color: #F0F0F0;
  border-radius: 1px;
  font-family: 'Inter';
  font-weight: 700;
}

.cart-close__btn {
  position: absolute;
  right: 24px;
  border: none;
  outline: none;
  background: #F0F0F0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.cart-close__btn:hover {
  background-color: black;
}

.cart-close__btn:hover svg path {
  /* width: 8px;
  height: 8px; */
  stroke: white;
}

.cart-header__b2 {
  padding: 4px 24px;
  background: #ccff66;
  text-align: center;
  margin-block: 6px;
}

.cart-header__b2 p {
  margin: 0;
  font-size: 10px;
  font-family: 'Inter';
  font-weight: 400;
}

.cart-drawer__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-drawer__items {
  padding: 24px;
}

.line-item__wrapper {
  height: 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  gap: 13px;
}

.line-item__img {
  width: 65px;
  height: 80px;
  overflow: hidden;
  border-radius: 2px;
}

.line-item__img img {
  width: 65px;
  height: 80px;
  object-fit: cover;
}

.line-item__info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.line-item__title {
  margin: 0;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 600;
}

.line-item__variant {
  margin: 0;
  font: 500 10px 'Inter';
  color: #676666;
}

.line-item__remove {
  position: absolute;
  top: 0;
  right: 0;
}

.line-item__remove svg {
  width: 20px;
  height: 20px;
}
